__pycache_/
.vscode/
.idea/
*.ipynb_checkpoints
*.DS_Store
*.idea
*.egg-info
*.pyc
*__pychache__

## Core latex/pdflatex auxiliary files:
*.aux
*.lof
*.log
*.lot
*.fls
*.out
*.toc
*.fmt
*.fot
*.cb
*.cb2
*.bbl

*.nav
*.snm
*.ai


## Build tool auxiliary files:
*.fdb_latexmk
*.synctex
*.synctex(busy)
*.synctex.gz
*.synctex.gz(busy)
*.pdfsync


## Bibliography auxiliary files (bibtex/biblatex/biber):
*.bcf
*.blg
*-blx.aux
*-blx.bib
*.run.xml

*.mp4

*.npy

checkpoint_dir/
*.tar.gz


*.exe

#DenseFusion
*.pth
temp*.py
*.zip
vision_process/scripts/ALi_Dataset
vision_process/scripts/ALi_Dataset/data
vision_process/scripts/ALi_Dataset/models
vision_process/scripts/ALi_Dataset
object_in_hand/scripts/data-10.20
object_in_hand/scripts/dataset/MyFile
*.tar.xz



